---
import YAML from "yaml"
import * as fs from "fs"
import ActivityEntry from "./ActivityEntry.astro"
import Card from "../Card.astro"
const file = fs.readFileSync("config/loki.yml", "utf8")
const { url } = YAML.parse(file)

const start = (Date.now() - 6.048e8) * 1e6 // A week ago
const response = await fetch(`${url}&start=${start}&limit=5`)
const {
  data: { result },
} = await response.json()

const entries = result.length
  ? result[0].values.map(([timestamp, message]: any) => ({
      timestamp,
      message,
    }))
  : []
---

<h2 class="text-2xl my-4 font-bold">Recent activity</h2>
<Card>
  <ul role="list" class="flex flex-col gap-2">
    {entries.map((entry: any) => <ActivityEntry entry={entry} />)}
  </ul>
</Card>
