---
import YAML from "yaml"
import * as fs from "fs"

const file = fs.readFileSync("config/loki.yml", "utf8")
const { url } = YAML.parse(file)

const start = (Date.now() - 6.048e8) * 1e6 // A week ago
const response = await fetch(`${url}&start=${start}&limit=5`)
const {
  data: { result },
} = await response.json()

let entries: any[] = []
if (result.length) {
  entries = result[0].values.map(([ts, message]: any) => ({
    timestamp: new Date(ts / 1000000).toLocaleString(),
    message,
  }))
}
---

<h2>Recent activity</h2>

<ul role="list">
  {
    entries.map(({ timestamp, message }: any) => (
      <li>
        {timestamp}: {message}
      </li>
    ))
  }
</ul>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
