---
import YAML from "yaml"
import * as fs from "fs"
import Contact from "./Contact.astro"

interface Contact {
  name: string
  email: string
  phone: string
  relation: string
}

const file = fs.readFileSync("config/contacts.yml", "utf8")
const contacts = YAML.parse(file)
---

<h2>Emergency contacts</h2>
<ul role="list" class="card-grid">
  {contacts.map((contact: Contact) => <Contact contact={contact} />)}
</ul>

<style>
  .card-grid {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
  }
</style>
