---
import Card from "../Card.astro"
interface Contact {
  name: string
  email: string
  phone: string
  relation: string
}
interface Props {
  contact: Contact
}

const {
  contact: { name, email, phone, relation },
} = Astro.props
---

<Card>
  <h3 class="text-xl my-2 font-bold">
    {name}
  </h3>
  <p>
    Relation: {relation}
  </p>
  <p>
    E-mail: {email}
  </p>
  <p>
    Phone: {phone}
  </p>
</Card>
