---
import YAML from "yaml"
import * as fs from "fs"
import Contact from "./Contact.astro"

interface Contact {
  name: string
  email: string
  phone: string
  relation: string
}

const file = fs.readFileSync("config/contacts.yml", "utf8")
const contacts = YAML.parse(file)
---

<h2>Emergency contacts</h2>
<div role="list" class="card-wrapper">
  {contacts.map((contact: Contact) => <Contact contact={contact} />)}
</div>

<style>
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
